<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Endergebnis">
        <title>Tischtennis Turnier Endergebnis</title>
        <link rel="stylesheet/less" type="text/css" href="../../styles/styles.less" />
        <script src="https://cdn.jsdelivr.net/npm/less"></script>
    </head>

    <body>
        <table>
            <caption><h1>Endergebnis (Sieg 2P. Unentschieden 1P.)</h1></caption>
            <tr>
                <th>NR</th>
                <th colspan="2">Name</th>
                <th>Punkte</th>
                <th>kl. Punkte</th>
                <th>Platz</th>
                <th>Punkte</th>
            </tr>
            <tr>
                <td>1.</td>
                <td colspan="2"><input type="text"/> </td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>2.</td>
                <td colspan="2"><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>3.</td>
                <td colspan="2"><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>4.</td>
                <td colspan="2"><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>5.</td>
                <td colspan="2"><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
        </table>
        <input type="submit" style="background-color: whitesmoke;">
    </body>
</html>