#additional-info {
  resize: none;
}

.add-teachers-fieldset {
  max-height: 100vh;
}

.add-teachers-mode {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.add-teacher-toggle {
  input[type="checkbox"]:checked + .slider {
    background-color: lightgreen;
  }

  input[type="checkbox"] + .slider {
    background-color: red;
  }
}

.class-unavailable {
  color: #a9a9a9;
}

select {
  max-height: 84px;
}

option {
  cursor: pointer;
}

@media (width < 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    padding: 2px;
    font-size: 0.8rem;
  }

  .main-content {
    padding-top: 0;
  }

  input[type="submit"] {
    height: 2rem;
    font-size: 1rem;
    border: 1px solid black;
  }

  textarea {
    max-height: 30px;
  }

  select {
    max-height: 50px;
  }

  .add-teachers-fieldset {
    padding-block: 0px;
    padding-inline: 20px;
  }
}
