body {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

.competition-table tbody tr:nth-child(1) {
  background-color: gold;
}

.competition-table tbody tr:nth-child(2) {
  background-color: silver;
}

.competition-table tbody tr:nth-child(3) {
  background-color: #cd7f32;
}

.competition-table tbody tr:nth-child(n + 4) {
  background-color: #ffffff;
}

.competition-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* Progressbar-Style: https://codepen.io/alvaromontoro/pen/poWgdVV */
@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.progressbar {
  --percentage: var(--value);
  --primary: rebeccapurple;
  --secondary: #b3b4ba;
  --size: 8rem;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    var(--primary) calc(var(--percentage) * 1%),
    var(--secondary) 0
  );
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

.progressbar::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

.hidden {
  display: none;
}

@media screen and (max-width: 37.5rem) {
  .competition-table th,
  .competition-table td {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
}
