.import-header {
  display: flex;
}

.custom-file-upload {
  cursor: pointer;
  font-size: clamp(0.8rem, 1vw, 2rem);
  margin: 1.25rem auto;
  border: 1px solid black;
  width: 60%;
  text-align: center;
  color: black;
  border-radius: 16px;
  padding: 0.625rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #f8d294;
  }
}

input[type="file"] {
  display: none;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  margin: 0 auto;

  th {
    position: sticky;
    top: 0;
    background-color: #f8d294;
    color: black;
    padding: 0.625rem;
    font-weight: bold;
    z-index: 1;
  }

  td {
    padding: 0.3125rem;
    border: 2px solid #ccc;
    text-align: center;
    z-index: 0;
  }
}

.resultMessage {
  padding-inline: 0.625rem;
  margin-top: 2rem;
}

@media (width < 48rem) {
  form.uploadForm {
    margin-top: 1rem;
    justify-content: center;
  }

  fieldset {
    min-width: 90vw;
    max-height: 70vh;
    margin: 1rem;
  }

  table {
    font-size: clamp(0.6rem, 1.5vw, 1.2rem);
    font-weight: 600;

    th {
      padding: 0.3125rem;
    }
  }

  .scrollable-container {
    max-width: 80vw;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

@media (width > 48rem) {
  form.uploadForm {
    margin-block: 5rem;
  }
}
