.login-form {
  width: 100%;
  max-width: 500px;
}

input[type="password"] {
  margin-bottom: 0;
}

.forgot-password {
  display: inline-block;
  background-color: transparent;
  font-size: 0.8rem;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 5px 0 20px 5px;
}

.divider-container {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #ccc;
  width: 80%;
  margin: auto;
}

.divider-text {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0 10px;
  font-weight: bold;
  white-space: nowrap;
}

.button-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-container input[type="submit"],
.button-container .moodle-login {
  flex-grow: 1;
  width: 50%;
  max-width: 50%;
}

.btn-register {
  padding: 10px 20px;
  border-radius: 8px;
  border: 3px solid var(--primary-color);
  background-color: transparent;
}

.moodle-login {
  max-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 8px;
  min-height: 2.5rem;

  &:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #d8b77a;
  }

  img {
    width: 80%;
    max-width: 100%;
    object-fit: contain;
  }
}

.password-container {
  display: flex;
}

.toggle-password-icon {
  margin-left: -30px;
  margin-top: 15px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

@media (width < 600px) {
  .signup-form {
    width: 95%;
    padding: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    padding: 5px;
    font-size: 0.8rem;
  }

  input[type="submit"] {
    height: 3rem;
    font-size: 1.2rem;
    border: 1px solid black;
  }

  .moodle-login {
    max-height: 3rem;
  }

  .toggle-password-icon {
    margin-top: 10px;
  }
}

@media (width > 800px) {
  .divider-container {
    margin-top: 40px;
    width: 50%;
  }

  .divider-text {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  button {
    min-width: 40%;
    font-size: 1.2rem;
  }

  .btn-register {
    margin-top: 2rem;
  }

  .moodle-login {
    max-height: 60px;
    font-size: 1.2rem;

    img {
      max-height: 5rem;
    }
  }
}
