:root {
  --primary-color: #f8d294;

  /* Hamburger-Höhe = Höhe der Balken + Zwischenlücken */
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
}

.nav-bar {
  padding-inline: 15px;
  background-color: var(--primary-color);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;

    li {
      list-style: none;
      margin-right: 25px;
      display: flex;
      align-items: center;

      a {
        position: relative;
        font-size: clamp(1rem, 2vw, 1.5rem);
        text-decoration: none;
        font-weight: 500;
        color: black;
        padding: 10px 15px;
        word-break: break-word;
        transition: color 0.3s ease;
        transition: text-shadow 0.3s ease;
        display: inline-block;
        align-items: center;

        &:hover {
          font-weight: bold;
        }

        /* 
          Verhindert die Verschiebung der Nav-Elemente beim Hovern, 
          indem zusätzlicher Platz für den fett gedruckten Text vorreserviert wird.
        */
        &::before {
          display: block;
          content: attr(data-text);
          font-weight: bold;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }

        /* Unterstrich für Animation. Wird beim Hovern sichtbar skaliert */
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #a4a4;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.fas {
  margin-right: 10px;
}

.nav-logo {
  margin-left: 20px;
  z-index: 999;

  img {
    height: 10vh;
    padding: 10px;
    display: block;
  }
}

.profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1vw;
  user-select: none;

  img {
    height: 100%;
    border-radius: 16px;
    padding: 10px;

    &:hover {
      filter: invert(0.1);
    }
  }
}

.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  padding: 0;
  border-radius: 8px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px 15px;
      font-size: 1rem;
      color: #333;
      cursor: pointer;
      border-bottom: 1px solid #ddd;

      a {
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        padding: 10px 15px;
        display: block;
        width: 100%;
      }

      &:hover {
        background-color: lightgray;

        a {
          color: black;
        }
      }
    }
  }
}

/* Container für das Hamburger-Menü + Logo */
.hamburger-logo-group {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: none; /* Standardmäßig ausgeblendet */
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: var(--bar-width);
  z-index: 10;
  cursor: pointer;

  input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: black;
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

/* Animation bei Klick auf das Hamburger-Menü: 
   - Oberen Balken nach unten rotieren 
   - Mittleren Balken ausblenden 
   - Unteren Balken nach oben rotieren 
   => Ergibt ein X */
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
/* ---------------------------------------- */

.sidebar {
  width: 250px;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  left: -250px;
  transition: left 0.3s ease;
  z-index: 2;
}

/* Bei kleineren Bildschirmen das Hamburger-Menü anzeigen */
@media (max-width: 800px) {
  /* Nur Nav-Items im Hamburger-Menü anzeigen */
  .nav-items:not(.sidebar .nav-items) {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .sidebar ul {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-top: 15vh;

    li a {
      font-weight: bold;
      font-size: clamp(1rem, 5vw, 1.3rem);
      padding: 10px;
      text-align: left;
    }
  }
}

@media (min-width: 801px) {
  .hamburger-menu,
  .sidebar {
    display: none;
  }
}
