.nav-bar {
  padding-inline: 15px;
  background-color: #f8d294;
  height: clamp(50px, 10vh, 100px);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-inline: 20px;
  font-weight: 700;
  color: #fff;
  height: 50%;

  img {
    width: auto;
    height: 75px;
    display: block;
  }
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;

  li {
    list-style: none;
    margin-right: 25px;

    a {
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
      padding: 10px 15px;
    }
  }
}

.profile {
  height: 65px;
  width: 65px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;

  img {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
