:root {
  --primary-color: #f8d294;

  /* Hamburger-Höhe = Höhe der Balken + Zwischenlücken */
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
}

.nav-bar {
  padding-inline: 1rem;
  background-color: var(--primary-color);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;

    li {
      list-style: none;
      margin-right: 25px;
      display: flex;
      align-items: center;

      a {
        position: relative;
        font-size: clamp(1rem, 2vw, 1.2rem);
        text-decoration: none;
        font-weight: 500;
        color: black;
        padding: 0.6125rem 1rem;
        word-break: break-word;
        transition: color 0.3s ease;
        transition: text-shadow 0.3s ease;
        display: inline-block;
        align-items: center;
        text-align: center;

        &:hover {
          font-weight: bold;
        }

        /* 
          Verhindert die Verschiebung der Nav-Elemente beim Hovern, 
          indem zusätzlicher Platz für den fett gedruckten Text vorreserviert wird.
        */
        &::before {
          display: block;
          content: attr(data-text);
          font-weight: bold;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }

        /* Unterstrich für Animation. Wird beim Hovern sichtbar skaliert */
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #a4a4;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }

    li:has(> .dropdown-menu) {
      display: block;
      text-align: center;
    }
  }
}

.dropdown {
  display: inline-block;

  a {
    display: block;
    color: black;
  }

  .dropdown-menu {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

    li {
      display: block;
      margin-right: 0;
    }
  }

  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

.fas {
  margin-right: 10px;
}

.nav-logo {
  margin-left: 20px;
  z-index: 999;

  img {
    height: 5rem;
    padding: 0.625rem;
    display: block;
  }
}

.profile {
  min-height: 5rem;
  min-width: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1vw;
  user-select: none;

  &:hover {
    filter: invert(0.1);
  }
}

#profile {
  position: relative;
  background-clip: content-box;
  padding: 0.5rem;

  &::after {
    content: attr(data-content-initials);
    position: absolute;
    inset: 0;
    margin: auto;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    display: inline-block;
  }
}

.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 15rem;
  padding: 0;
  border-radius: 8px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0.625rem 1rem;
      font-size: 1rem;
      color: #333;
      cursor: pointer;
      border-bottom: 1px solid #ddd;

      a {
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        padding: 0.625rem 1rem;
        display: block;
        width: 100%;
      }

      &:hover {
        background-color: lightgray;

        a {
          color: black;
        }
      }
    }
  }
}

/* Container für das Hamburger-Menü + Logo */
.hamburger-logo-group {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: none; /* Standardmäßig ausgeblendet */
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: var(--bar-width);
  z-index: 10;
  cursor: pointer;

  input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: black;
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

/* Animation bei Klick auf das Hamburger-Menü: 
   - Oberen Balken nach unten rotieren 
   - Mittleren Balken ausblenden 
   - Unteren Balken nach oben rotieren 
   => Ergibt ein X */
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* ---------------------------------------- */

.sidebar {
  width: 15.625rem;
  flex-direction: column;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  left: -15.625rem;
  transition: left 0.3s ease;
  z-index: 2;

  &.open {
    left: 0;
  }
}

/* Bei kleineren Bildschirmen das Hamburger-Menü anzeigen */
@media (max-width: 50rem) {
  /* Nur Nav-Items im Hamburger-Menü anzeigen */
  .nav-items:not(.sidebar .nav-items) {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .sidebar ul {
    flex-direction: column;
    gap: 0.625rem;
    padding: 1.25rem;
    margin-top: 15vh;

    li a {
      font-weight: bold;
      font-size: clamp(1rem, 4vw, 1.3rem);
      padding: 0.625rem;
      text-align: left;
    }
  }
}

@media (min-width: 50rem) {
  .hamburger-menu,
  .sidebar {
    display: none;
  }
}
