.signup-main-content {
  max-height: fit-content;
  width: 90%;
}

.signup-form {
  width: 100%;
  max-width: 31.25rem;
  margin-top: 1.25rem;
}

.signup-fieldset {
  max-height: 115vh;
}

input[type="submit"] {
  justify-content: center;
  width: 90%;
  border-radius: 8px;
  background-color: #6e7b8b;
  color: white;
  min-height: 2.5rem;
  padding: 0.625rem 2.5rem;
  align-items: center;
  font-weight: bold;
  font-size: clamp(1rem, 1.5rem, 2rem);
  margin: 2% auto;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.3s;

  &:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #36454f;
  }

  &:focus {
    border: 5px solid black;
  }
}

.divider-container {
  width: 100%;
  text-align: center;
  margin: 1.25rem 0;
  position: relative;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #ccc;
  width: 80%;
  margin: auto;
}

.divider-text {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0 10px;
  font-weight: bold;
  white-space: nowrap;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.moodle-login {
  max-height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem 0.625rem;
  background: transparent;
  border: 3px solid var(--primary-color);

  img {
    max-height: 4rem;
  }
}

input[type="password"].input-error {
  border-color: red;

  &:focus {
    border-color: red;
    outline: none;
    box-shadow: 0 0 3px red;
  }
}

input[type="password"].input-valid {
  border-color: lime;

  &:focus {
    border-color: lime;
    outline: none;
    box-shadow: 0 0 3px lime;
  }
}

.password-container {
  display: flex;
}

.toggle-password-icon {
  margin-left: -1.875rem;
  margin-top: 0.9375rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 37.5rem) {
  .signup-form {
    width: 95%;
    padding: 0.3125rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    padding: 0.3125rem;
    font-size: 0.8rem;
  }

  input[type="submit"] {
    font-size: 1.2rem;
    border: 1px solid black;
  }

  .moodle-login {
    max-height: 2rem;
    overflow: hidden;
    padding-block: 0.625rem;

    img {
      height: 4rem;
    }
  }

  .toggle-password-icon {
    margin-top: 10px;
  }
}

.password-check-container {
  margin-block: 0.625rem;
  border: 2px solid #6e7b8b;
  border-radius: 8px;
  padding: 0.3125rem 0.625rem;
}

.password-check-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.3125rem;
}

.password-check-icon {
  margin-right: 0.3125rem;
  color: red;

  &.valid {
    color: green;
  }

  &.invalid {
    color: red;
  }
}

.password-mismatch {
  color: red;
  display: none;

  &.visible {
    display: block;
    font-size: 0.75rem;
  }
}

@media (min-width: 50rem) {
  .button-container {
    width: 30%;
    padding-inline: 2.5rem;
  }

  .divider-container {
    margin-top: 2.5rem;
  }

  button {
    min-width: 40%;
    font-size: 1.2rem;
  }

  .password-mismatch {
    &.visible {
      font-size: 1rem;
    }
  }

  .moodle-login {
    max-height: 3.75rem;
    font-size: 1.2rem;

    img {
      max-height: 5rem;
    }
  }
}
