.submit-station {
  background-color: #5a3cc3 !important;
  color: white;

  &:hover {
    filter: brightness(1.5);
  }
}

.horizontal-separator {
  width: 50%;
  margin-block: 1rem;
  border: 1px solid black;
}

.attempts-selection {
  width: auto;
}

.attempt-cell {
  white-space: nowrap !important;
}

.best-attempt {
  border: 2px solid gold !important;
  outline: none;
  box-shadow: 0 0 3px gold;
}

label {
  text-align: center;
}

@media (width < 50rem) {
  .horizontal-separator {
    width: 80%;
  }
}
