.button-container {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  & > button {
    margin: 0;
  }
}

th {
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.status-circle {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  margin: 0 auto;
}

.green {
  background-color: darkgreen;
}

.red {
  background-color: red;
}


@media (min-width: 37.5rem) {
  .table-style th,
  .table-style td {
    max-width: 18.75rem;
  }

  .class {
    padding-inline: 0.625rem;
  }

  .status-circle {
    height: 1.25rem;
    width: 1.25rem;
  }
}
