.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  & > button {
    margin: 0;
  }
}

th {
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 auto;
}

.green {
  background-color: darkgreen;
}

.red {
  background-color: red;
}

.class {
  display: inline-block;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: black;
  padding-inline: 3px;
  padding-block: 3px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 5px 5px 10px 5px;

  .fas.fa-times {
    color: red;
    cursor: pointer;
    margin-left: 5px;
  }
}

@media (width > 600px) {
  .table-style th,
  .table-style td {
    max-width: 300px;
  }

  .class {
    padding-inline: 10px;
  }
  
  .status-circle {
    height: 20px;
    width: 20px;
  }
}
