.button-container {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  & > button {
    margin: 0;
  }
}

th {
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

#class-select {
  height: 5.25rem;
  transition: height 0.3s ease;
  max-height: unset;

  &:focus {
    height: 12.5rem;
  }
}

.table-style td.td-edit,
.table-style th.td-edit {
  min-width: 8rem !important;
}

@media (width > 37.5rem) {
  .table-style th,
  .table-style td {
    max-width: 18.75rem;
  }

  .status-circle {
    height: 1.25rem;
    width: 1.25rem;
  }
}
